<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Calendar</title>
    <%- include('../partials/calendar.ejs'); %>
</head>
<body class="container mybodybg" onload="Calendar()">
    <main>
        <div class="my-center">
            <div class="col-md-12 d-flex">
                <h2 id="monthYearLabel">MM/YYYY</h2>
                <a class="btn btn-primary ml-auto" href="#">Previous</a>
                <a class="btn btn-primary ml-auto" href="#">Next</a>
            </div>
            <canvas id="calendar">
    
            </canvas>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>