<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage</title>
</head>
<body class="container mybodybg">
    <main>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>Homepage</h1>
            <p>Welcome to basic exercise</p>
            <a class="btn btn-primary" href="/calendar">Calendar</a>
            <a class="btn btn-success" href="#">Notice</a>
            <a class="btn btn-info" href="#">Export file</a>
            <a class="btn btn-danger" href="/api/v1/auth/logout">Logout</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>