<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/bootstrap.ejs'); %>
</head>
<body class="container">
    <main>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <button class="btn btn-primary">Login</button>
            <button class="btn btn-success">Register</button>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>