<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>MainScreen</title>
</head>
<body class="container mybodybg">
    <main>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>Main Screen</h1>
            <p>Welcome to basic exercise</p>
            <a class="btn btn-primary" href="/api/v1/auth/login">Login</a>
            <a class="btn btn-success" href="/api/v1/auth/register">Register</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>