<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Page</title>
</head>
<body class="container mybodybg">
    <main>
        <div class="container py-5 h-100">
            <div class="form-box rounded">
                <h2>Login Form</h2>
                <form class="form-login" action="/api/v1/auth/login" method="POST">
                    <!-- Account input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="account" class="form-control" name="account" value="<%- account %>" placeholder="Username or Email"/>
                    </div>
    
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="passwd" class="form-control" name="passwd" placeholder="Password"/>
                    </div>
    
                    <%- warning || '' %>
    
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col">
                            <!-- Simple link -->
                            Dont have account? <a href="/register">Register now</a>
                        </div>
    
                        <div class="col">
                            <!-- Simple link -->
                            <a href="/recovery">Forgot password?</a>
                        </div>
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" id="loginBtn" class="btn btn-primary btn-block mb-4" disabled>Sign in</button>
                </form>
            </div>
        </div>
    </main>
</body>
<script>
    const loginBtn = document.getElementById("loginBtn");
    const loginField = document.getElementById("account");
    const passwordField = document.getElementById("passwd");
    loginField.addEventListener("input", check);
    passwordField.addEventListener("input", check);

    function check() {
        if(loginField.value != "" && passwordField.value != "") {
            loginBtn.removeAttribute("disabled"); 
        } else {
            loginBtn.setAttribute("disabled","disabled");
        }
    }
    
</script>
</html>