<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Validation Page</title>
</head>
<body class="container mybodybg">
    <main>
        <div class="form-box rounded">
            <h2>Your account has been verified</h2>
            <a href="/login">Redirect to login page</a>
        </div>
    </main>
</body>
</html>

